@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #F6F6F6;
    --cor-secundaria: #22D4FD;
    --cor-terciaria: #03989f;
    --fonte-primaria: 'Arial', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-primaria);
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
}
.cabecalho{
    padding: 0.5% 0% 0% 15%;
    background-color: var(--cor-terciaria);
}
.cabecalho__menu{
    display: flex;
    gap: 4rem;
}
.cabecalho__menu__link{
    font-family: var(--cor-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

  body {
    line-height: 1.8;
    color: #f5f6f7;
  }
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: var(--cor-terciaria);
  }
  .bg-2 { 
    background-color: #474e5d;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

.rodape{
    padding-top: 0.5rem;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    margin-top: 3.1rem;
    text-align: center;
    font-family: var(--cor-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}
.index{
    background-color: whitesmoke;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.tt1 {
    display: block;
}
.img1 {
    width: 50%;
    height: auto;
}
@media (max-width: 900px) {
    .apresentacao__conteudo{
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .apresentacao__conteudo__contato {
        width: auto;
        border-radius: 0.5rem;
    }
    .apresentacao__conteudo__referencias {
        width: auto;
    }
    .apresentacao__conteudo__referencias__texto {
        width: 80%;
    }
    .apresentacao__conteudo__contato__foto {
        width: 50%;
    }
}
@media (min-height: 1200px) and (max-width: 800px) {
    .rodape {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}